.aboutUs {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;   
    font-family: 'inherit';
}

h1 {
    text-align: center;
    margin: 0 auto;
    padding: 40px 0;
    font: 300 60px 'Oswald', sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 6px;
}

.p{
    font-size: 24px;
}

.textContainer {
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    max-width: 800px;
    margin-bottom: 40px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.imageContainer img {
    max-width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.imageContainer img:hover {
    transform: scale(1.05);
}

